body {
  background-color: #000000;
}
.priceSectionContainer .swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
}
.swiper-pagination > .swiper-pagination-bullet-active {
  background: #ffffff !important;
}
